body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    width: 100%;
    background-color: #00BFF3;
    padding: 3rem 0;
    text-align: center;
}

header img {
    width: 50%;
    max-width: 800px;
    height: auto;
    object-fit: scale-down;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 1.2rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 2rem;
    margin:2rem;
}

.screenshot {
    width: 50%;
    max-width: 300px;
    border-radius: 0.75rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

article {
    flex: 1;
    font-size: 1.2rem;
}

h1, h2 { font-size: 2em }

.link-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.link-buttons a {
    text-decoration: none;
}

.link-buttons img {
    width: auto;
    height: 4rem;
    transition: transform 0.3s ease;
}

.link-buttons img:hover {
    transform: scale(1.1);
}

footer .link-buttons {
    background-color: #ffffff;
    padding: 2rem;
    justify-content: center
}

/* Mobile Adjustments */
@media (max-width: 960px) {
    .link-buttons {
        flex-direction: column;
    }
    footer .link-buttons {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    main {
        padding: 1.2rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .screenshot {
        width: 80%;
        margin-bottom: 1.2rem;
    }

    .article {
        font-size: 1rem;
        text-align: center;
    }

    h1, h2 { font-size: 1.66em }

    .link-buttons {
        flex-direction: column;
        align-items: center;
    }

    .link-buttons img {
        width: 16rem;
        height: auto;
    }

    footer .link-buttons {
        flex-direction: row;
    }
}

@media (max-width: 530px) {
    footer .link-buttons {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header img {
        width: 70%;
    }

    .content {
        max-width: 95%;
    }

    .screenshot {
        width: 90%;
    }

    h1, h2 { font-size: 1.33em }
}